---
import Greeting from "@/components/Greeting.svelte"
import PlayListItemCard from "@/components/PlayListItemCard.astro"
import Layout from "@/layouts/Layout.astro"
import { playlists } from "@/lib/data"
---

<Layout title="Spotify Clone">
  <div
    class="relative bg-green-600 transition-all duration-1000"
    id="playlist-container"
  >
    <!-- PAGE HEADER -->
    <div class="relative z-10 px-6 pt-10">
      <Greeting />

      <div class="mt-6 flex flex-wrap gap-4">
        {playlists.map((playlist) => <PlayListItemCard playlist={playlist} />)}
      </div>
      <div
        class="absolute inset-0 -z-[1] bg-gradient-to-t from-zinc-900 via-zinc-900/80"
      >
      </div>
    </div>
  </div>
</Layout>
